.theme {
	position:relative;
	top:0px;
	left:0px;
	width:500px;
	height:125px;
}
#aButton .snes-button.active{
	fill: #C1121C !important
}
#bButton .snes-button.active{
	fill: #F7BA0B !important
}
#xButton .snes-button.active{
	fill: #00387b !important
}
#yButton .snes-button.active{
	fill: #007243 !important
}
.snes-button.active{
	fill:#b2b4b2 !important;
}
.snes-label.active{
	fill:#b2b4b2 !important;
}
.snes-label.active *{
	fill:#b2b4b2 !important;
}
.snes-label-contrast.active{
	fill:#54585a !important;
}
.snes-label-contrast.active *{
	fill:#54585a !important;
}