<div class='ojd-modal-wrapper'>

	<div class='ojd-modal' style='width:700px;'>
		<div class='ojd-modal-handler'>
			About Open Joystick Display
			<button class='ojd-modal-close'><i class='fas fa-fw fa-times'></i></button>
		</div>
		<div class='ojd-modal-content'>
			<img src='../../app/images/logo.png' alt='Open Joystick Display' /> <br />
			<p>
				<strong>Version:</strong> <span class='ojd-version'></span><br />
				<strong>Website:</strong> <a class='ojd-external-link'
					href='https://github.com/Formedras/open-joystick-display'>GitHub</a><br />
				<strong>Original Website:</strong> <a class='ojd-external-link'
					href='https://ojdproject.com'>https://ojdproject.com</a><br />
			</p><br /><br />

			<strong>Credits:</strong>
			<div class='ojd-modal-credits'>
				<h2>Developer:</h2>
				<p>Robert Pflieger (Formedras) <a class='ojd-external-link'
						href='https://github.com/Formedras'>GitHub</a></p>

				<div class='space'></div>
				<h2>Contributors:</h2>
				<h3>Original Developer:</h3>
				<p>Anthony Mattera (KernelZechs) <a class='ojd-external-link'
						href='https://github.com/KernelZechs'>GitHub</a></p>

				<h3>OJD Server NX, Controller/Hardware Support:</h3>
				<p>Nichole Mattera <a class='ojd-external-link' href='https://github.com/NicholeMattera'>GitHub</a></p>

				<h3>Racing Wheel Debugging/Testing:</h3>
				<p>Bernat <a class='ojd-external-link' href='https://github.com/berarma'>GitHub</a></p>
				<p>leillo1975 <a class='ojd-external-link' href='https://github.com/leillo1975'>GitHub</a></p>

				<h3>Smashbox / Hitbox Themes:</h3>
				<p>Dylan 'Luberry' Kozicki <a class='ojd-external-link' href='https://github.com/Luberry'>GitHub</a> <a
						class='ojd-external-link' href='https://gitlab.com/Luberry'>GitLab</a></p>

				<div class='space'></div>
				<h2>RetroSpy:</h2>
				<p><a class='ojd-external-link' href='https://retro-spy.com'>RetroSpy</a> Copyright &copy; 2018 Christopher J. Mallery.<br/> NintendoSpy
					Copyright &copy; 2014 Jeremy Burns</p>
				<p>Original NintendoSpy implimentation by Jeremy Burns (jaburns). <a class='ojd-external-link'
						href='https://github.com/jaburns/NintendoSpy'>GitHub</a></p>
				<p>RetroSpy fork by Christopher J. Mallery (zoggins). <a class='ojd-external-link'
						href='https://github.com/zoggins/RetroSpy'>GitHub</a></p>
				<p>Open Joystick Display port by Anthony Mattera (KernelZechs)</p>
				<p>SmashBoxLEDSpy Open Joystick Display port by Dylan 'Luberry' Kozicki <a class='ojd-external-link'
						href='https://github.com/Luberry'>GitHub</a> <a class='ojd-external-link'
						href='https://gitlab.com/Luberry'>GitLab</a> </p>

				<div class='space'></div>
				<h2>Special Thanks:</h2>
				<ul>
					<li>KernelZechs - for making the original OJD that I've just started working on... despite being
						wrong about fightstick layouts</li>
					<li>The streamers I enjoy, including but not limited to:</li>
					<ul>
						<li><a class='ojd-external-link' href='https://twitch.tv/andy'>Andy Laso</a></li>
						<li><a class='ojd-external-link' href='https://twitch.tv/TheOnlyTachyon'>TheOnlyTachyon</a></li>
						<li><a class='ojd-external-link' href='https://twitch.tv/kyleberry_sr'>Kyleberry</a></li>
					</ul>
					<li><a class='ojd-external-link' href='https://twitter.com/dreadbitgames'>Dreadbit Games</a> - for
						Seraph, the first game I streamed</li>
					<li><a class='ojd-external-link' href='https://sabotagestudio.com'>Sabotage Studio</a> and
						<a class='ojd-external-link' href='https://devolverdigital.com'>Devolver Digital</a> - for
						making the one game I've speedrun, The Messenger</li>
				</ul>
			</div>

			<p>
				<strong>Legal Notice:</strong><br />
				All copyrights outside of Open Joystick Display are owned by their respective copyright owners. Open
				Joystick Display is in no way affilated with any company (Microsoft, Nintendo, Sony, Sega, etc.) and any
				image or likeness is used under 'fair use' doctrine. For more information on fair use, please visit the
				<a class='ojd-external-link' href='https://www.copyright.gov/fair-use/more-info.html'>U.S. copyright
					office website</a>.
			</p>

			<p>For more information on technologies used, please visit: <a class='ojd-external-link'
					href='https://ojdproject.com/license'>https://ojdproject.com/license</a></p>
		</div>
	</div>

</div>